openapi: 3.0.1
info:
  title: FMS API V1
  version: v1
servers:
  - url: 'https://fms-api.optimumfleet.net'
paths:
  /api/Addresses:
    get:
      tags:
        - Addresses
      operationId: Addresses_GetAll
      parameters:
        - name: Language
          in: query
          schema:
            type: string
        - name: UserId
          in: query
          schema:
            type: integer
            format: int32
        - name: UserRoleId
          in: query
          schema:
            type: integer
            format: int32
        - name: FleetId
          in: query
          schema:
            type: integer
            format: int32
        - name: Order
          in: query
          schema:
            type: string
        - name: Filter
          in: query
          schema:
            type: string
        - name: PageNumber
          in: query
          schema:
            type: integer
            format: int32
        - name: PageSize
          in: query
          schema:
            type: integer
            format: int32
        - name: IsActive
          in: query
          schema:
            type: boolean
        - name: IsDelete
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AddressReadModelListResultViewModel'
            application/json:
              schema:
                $ref: '#/components/schemas/AddressReadModelListResultViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/AddressReadModelListResultViewModel'
    post:
      tags:
        - Addresses
      operationId: Addresses_PostAddress
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/AddressModifyModel'
          application/json:
            schema:
              $ref: '#/components/schemas/AddressModifyModel'
          text/json:
            schema:
              $ref: '#/components/schemas/AddressModifyModel'
          application/*+json:
            schema:
              $ref: '#/components/schemas/AddressModifyModel'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AddressModifyModelResultViewModel'
            application/json:
              schema:
                $ref: '#/components/schemas/AddressModifyModelResultViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/AddressModifyModelResultViewModel'
  /api/Addresses/{id}:
    get:
      tags:
        - Addresses
      operationId: Addresses_GetOne
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AddressModifyModelResultViewModel'
            application/json:
              schema:
                $ref: '#/components/schemas/AddressModifyModelResultViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/AddressModifyModelResultViewModel'
    put:
      tags:
        - Addresses
      operationId: Addresses_PutAddress
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/AddressModifyModel'
          application/json:
            schema:
              $ref: '#/components/schemas/AddressModifyModel'
          text/json:
            schema:
              $ref: '#/components/schemas/AddressModifyModel'
          application/*+json:
            schema:
              $ref: '#/components/schemas/AddressModifyModel'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AddressModifyModelResultViewModel'
            application/json:
              schema:
                $ref: '#/components/schemas/AddressModifyModelResultViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/AddressModifyModelResultViewModel'
    delete:
      tags:
        - Addresses
      operationId: Addresses_DeleteAddress
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AddressModifyModelResultViewModel'
            application/json:
              schema:
                $ref: '#/components/schemas/AddressModifyModelResultViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/AddressModifyModelResultViewModel'
  /api/Addresses/Activate:
    post:
      tags:
        - Addresses
      operationId: Addresses_Activate
      parameters:
        - name: id
          in: query
          schema:
            type: integer
            format: int32
        - name: status
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AddressModifyModelResultViewModel'
            application/json:
              schema:
                $ref: '#/components/schemas/AddressModifyModelResultViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/AddressModifyModelResultViewModel'
  /api/Addresses/UndoDelete/{id}:
    post:
      tags:
        - Addresses
      operationId: Addresses_UndoDelete
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AddressModifyModelResultViewModel'
            application/json:
              schema:
                $ref: '#/components/schemas/AddressModifyModelResultViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/AddressModifyModelResultViewModel'
  /api/Attachments/GetFile:
    get:
      tags:
        - Attachments
      operationId: Attachments_GetFile
      parameters:
        - name: file
          in: query
          schema:
            type: string
        - name: module
          in: query
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Success
  /api/Authentication/login:
    post:
      tags:
        - Authentication
      operationId: Authentication_Login
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/LoginModel'
          application/json:
            schema:
              $ref: '#/components/schemas/LoginModel'
          text/json:
            schema:
              $ref: '#/components/schemas/LoginModel'
          application/*+json:
            schema:
              $ref: '#/components/schemas/LoginModel'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/UserInfoResultViewModel'
            application/json:
              schema:
                $ref: '#/components/schemas/UserInfoResultViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/UserInfoResultViewModel'
  /api/Authentication/Logout:
    post:
      tags:
        - Authentication
      operationId: Authentication_Logout
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/logout'
          application/json:
            schema:
              $ref: '#/components/schemas/logout'
          text/json:
            schema:
              $ref: '#/components/schemas/logout'
          application/*+json:
            schema:
              $ref: '#/components/schemas/logout'
      responses:
        '200':
          description: Success
  /api/Authentication/UserPermissions/{userId}:
    get:
      tags:
        - Authentication
      operationId: Authentication_GetUserPermissions
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
  /api/Authentication/ChangePassword:
    get:
      tags:
        - Authentication
      operationId: Authentication_ChangePassword
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ChangePasswordModel'
          application/json:
            schema:
              $ref: '#/components/schemas/ChangePasswordModel'
          text/json:
            schema:
              $ref: '#/components/schemas/ChangePasswordModel'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ChangePasswordModel'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/UserInfoResultViewModel'
            application/json:
              schema:
                $ref: '#/components/schemas/UserInfoResultViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/UserInfoResultViewModel'
  /api/BackBoxDoorLogs:
    get:
      tags:
        - BackBoxDoorLogs
      operationId: BackBoxDoorLogs_GetAll
      parameters:
        - name: Language
          in: query
          schema:
            type: string
        - name: UserId
          in: query
          schema:
            type: integer
            format: int32
        - name: UserRoleId
          in: query
          schema:
            type: integer
            format: int32
        - name: FleetId
          in: query
          schema:
            type: integer
            format: int32
        - name: Order
          in: query
          schema:
            type: string
        - name: Filter
          in: query
          schema:
            type: string
        - name: PageNumber
          in: query
          schema:
            type: integer
            format: int32
        - name: PageSize
          in: query
          schema:
            type: integer
            format: int32
        - name: IsActive
          in: query
          schema:
            type: boolean
        - name: IsDelete
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: >-
                  #/components/schemas/BackBoxDoorLogReadModelListResultViewModel
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/BackBoxDoorLogReadModelListResultViewModel
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/BackBoxDoorLogReadModelListResultViewModel
    post:
      tags:
        - BackBoxDoorLogs
      operationId: BackBoxDoorLogs_PostBackBoxDoorLog
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/BackBoxDoorLogModifyModel'
          application/json:
            schema:
              $ref: '#/components/schemas/BackBoxDoorLogModifyModel'
          text/json:
            schema:
              $ref: '#/components/schemas/BackBoxDoorLogModifyModel'
          application/*+json:
            schema:
              $ref: '#/components/schemas/BackBoxDoorLogModifyModel'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BackBoxDoorLogModifyModelResultViewModel'
            application/json:
              schema:
                $ref: '#/components/schemas/BackBoxDoorLogModifyModelResultViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/BackBoxDoorLogModifyModelResultViewModel'
  /api/BackBoxDoorLogs/{id}:
    get:
      tags:
        - BackBoxDoorLogs
      operationId: BackBoxDoorLogs_GetOne
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BackBoxDoorLogModifyModelResultViewModel'
            application/json:
              schema:
                $ref: '#/components/schemas/BackBoxDoorLogModifyModelResultViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/BackBoxDoorLogModifyModelResultViewModel'
    put:
      tags:
        - BackBoxDoorLogs
      operationId: BackBoxDoorLogs_PutBackBoxDoorLog
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/BackBoxDoorLogModifyModel'
          application/json:
            schema:
              $ref: '#/components/schemas/BackBoxDoorLogModifyModel'
          text/json:
            schema:
              $ref: '#/components/schemas/BackBoxDoorLogModifyModel'
          application/*+json:
            schema:
              $ref: '#/components/schemas/BackBoxDoorLogModifyModel'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BackBoxDoorLogModifyModelResultViewModel'
            application/json:
              schema:
                $ref: '#/components/schemas/BackBoxDoorLogModifyModelResultViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/BackBoxDoorLogModifyModelResultViewModel'
    delete:
      tags:
        - BackBoxDoorLogs
      operationId: BackBoxDoorLogs_DeleteBackBoxDoorLog
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BackBoxDoorLogModifyModelResultViewModel'
            application/json:
              schema:
                $ref: '#/components/schemas/BackBoxDoorLogModifyModelResultViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/BackBoxDoorLogModifyModelResultViewModel'
  /api/Categories:
    get:
      tags:
        - Categories
      operationId: Categories_GetAll
      parameters:
        - name: Language
          in: query
          schema:
            type: string
        - name: UserId
          in: query
          schema:
            type: integer
            format: int32
        - name: UserRoleId
          in: query
          schema:
            type: integer
            format: int32
        - name: FleetId
          in: query
          schema:
            type: integer
            format: int32
        - name: Order
          in: query
          schema:
            type: string
        - name: Filter
          in: query
          schema:
            type: string
        - name: PageNumber
          in: query
          schema:
            type: integer
            format: int32
        - name: PageSize
          in: query
          schema:
            type: integer
            format: int32
        - name: IsActive
          in: query
          schema:
            type: boolean
        - name: IsDelete
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CategoryReadModelListResultViewModel'
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryReadModelListResultViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/CategoryReadModelListResultViewModel'
    post:
      tags:
        - Categories
      operationId: Categories_PostCategory
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CategoryModifyModel'
          application/json:
            schema:
              $ref: '#/components/schemas/CategoryModifyModel'
          text/json:
            schema:
              $ref: '#/components/schemas/CategoryModifyModel'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CategoryModifyModel'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CategoryModifyModelResultViewModel'
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryModifyModelResultViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/CategoryModifyModelResultViewModel'
  /api/Categories/{id}:
    get:
      tags:
        - Categories
      operationId: Categories_GetOne
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CategoryModifyModelResultViewModel'
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryModifyModelResultViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/CategoryModifyModelResultViewModel'
    put:
      tags:
        - Categories
      operationId: Categories_PutCategory
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CategoryModifyModel'
          application/json:
            schema:
              $ref: '#/components/schemas/CategoryModifyModel'
          text/json:
            schema:
              $ref: '#/components/schemas/CategoryModifyModel'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CategoryModifyModel'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CategoryModifyModelResultViewModel'
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryModifyModelResultViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/CategoryModifyModelResultViewModel'
    delete:
      tags:
        - Categories
      operationId: Categories_DeleteCategory
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CategoryModifyModelResultViewModel'
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryModifyModelResultViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/CategoryModifyModelResultViewModel'
  /api/Categories/Activate:
    post:
      tags:
        - Categories
      operationId: Categories_Activate
      parameters:
        - name: id
          in: query
          schema:
            type: integer
            format: int32
        - name: status
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CategoryModifyModelResultViewModel'
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryModifyModelResultViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/CategoryModifyModelResultViewModel'
  /api/Categories/UndoDelete/{id}:
    post:
      tags:
        - Categories
      operationId: Categories_UndoDelete
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CategoryModifyModelResultViewModel'
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryModifyModelResultViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/CategoryModifyModelResultViewModel'
  /api/CommandGroups:
    get:
      tags:
        - CommandGroups
      operationId: CommandGroups_GetAll
      parameters:
        - name: Language
          in: query
          schema:
            type: string
        - name: UserId
          in: query
          schema:
            type: integer
            format: int32
        - name: UserRoleId
          in: query
          schema:
            type: integer
            format: int32
        - name: FleetId
          in: query
          schema:
            type: integer
            format: int32
        - name: Order
          in: query
          schema:
            type: string
        - name: Filter
          in: query
          schema:
            type: string
        - name: PageNumber
          in: query
          schema:
            type: integer
            format: int32
        - name: PageSize
          in: query
          schema:
            type: integer
            format: int32
        - name: IsActive
          in: query
          schema:
            type: boolean
        - name: IsDelete
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CommandGroupReadModelListResultViewModel'
            application/json:
              schema:
                $ref: '#/components/schemas/CommandGroupReadModelListResultViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/CommandGroupReadModelListResultViewModel'
    post:
      tags:
        - CommandGroups
      operationId: CommandGroups_PostCommandGroup
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CommandGroupModifyModel'
          application/json:
            schema:
              $ref: '#/components/schemas/CommandGroupModifyModel'
          text/json:
            schema:
              $ref: '#/components/schemas/CommandGroupModifyModel'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CommandGroupModifyModel'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CommandGroupModifyModelResultViewModel'
            application/json:
              schema:
                $ref: '#/components/schemas/CommandGroupModifyModelResultViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/CommandGroupModifyModelResultViewModel'
  /api/CommandGroups/{id}:
    get:
      tags:
        - CommandGroups
      operationId: CommandGroups_GetOne
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CommandGroupModifyModelResultViewModel'
            application/json:
              schema:
                $ref: '#/components/schemas/CommandGroupModifyModelResultViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/CommandGroupModifyModelResultViewModel'
    put:
      tags:
        - CommandGroups
      operationId: CommandGroups_PutCommandGroup
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CommandGroupModifyModel'
          application/json:
            schema:
              $ref: '#/components/schemas/CommandGroupModifyModel'
          text/json:
            schema:
              $ref: '#/components/schemas/CommandGroupModifyModel'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CommandGroupModifyModel'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CommandGroupModifyModelResultViewModel'
            application/json:
              schema:
                $ref: '#/components/schemas/CommandGroupModifyModelResultViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/CommandGroupModifyModelResultViewModel'
    delete:
      tags:
        - CommandGroups
      operationId: CommandGroups_DeleteCommandGroup
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CommandGroupModifyModelResultViewModel'
            application/json:
              schema:
                $ref: '#/components/schemas/CommandGroupModifyModelResultViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/CommandGroupModifyModelResultViewModel'
  /api/CommandGroups/Activate:
    post:
      tags:
        - CommandGroups
      operationId: CommandGroups_Activate
      parameters:
        - name: id
          in: query
          schema:
            type: integer
            format: int32
        - name: status
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CommandGroupModifyModelResultViewModel'
            application/json:
              schema:
                $ref: '#/components/schemas/CommandGroupModifyModelResultViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/CommandGroupModifyModelResultViewModel'
  /api/CommandGroups/UndoDelete/{id}:
    post:
      tags:
        - CommandGroups
      operationId: CommandGroups_UndoDelete
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CommandGroupModifyModelResultViewModel'
            application/json:
              schema:
                $ref: '#/components/schemas/CommandGroupModifyModelResultViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/CommandGroupModifyModelResultViewModel'
  /api/CommandRequests:
    get:
      tags:
        - CommandRequests
      operationId: CommandRequests_GetAll
      parameters:
        - name: Language
          in: query
          schema:
            type: string
        - name: UserId
          in: query
          schema:
            type: integer
            format: int32
        - name: UserRoleId
          in: query
          schema:
            type: integer
            format: int32
        - name: FleetId
          in: query
          schema:
            type: integer
            format: int32
        - name: Order
          in: query
          schema:
            type: string
        - name: Filter
          in: query
          schema:
            type: string
        - name: PageNumber
          in: query
          schema:
            type: integer
            format: int32
        - name: PageSize
          in: query
          schema:
            type: integer
            format: int32
        - name: IsActive
          in: query
          schema:
            type: boolean
        - name: IsDelete
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: >-
                  #/components/schemas/CommandRequestReadModelListResultViewModel
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CommandRequestReadModelListResultViewModel
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/CommandRequestReadModelListResultViewModel
    post:
      tags:
        - CommandRequests
      operationId: CommandRequests_PostCommandRequest
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CommandRequestModifyModel'
          application/json:
            schema:
              $ref: '#/components/schemas/CommandRequestModifyModel'
          text/json:
            schema:
              $ref: '#/components/schemas/CommandRequestModifyModel'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CommandRequestModifyModel'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CommandRequestModifyModelResultViewModel'
            application/json:
              schema:
                $ref: '#/components/schemas/CommandRequestModifyModelResultViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/CommandRequestModifyModelResultViewModel'
  /api/CommandRequests/{id}:
    get:
      tags:
        - CommandRequests
      operationId: CommandRequests_GetOne
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CommandRequestModifyModelResultViewModel'
            application/json:
              schema:
                $ref: '#/components/schemas/CommandRequestModifyModelResultViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/CommandRequestModifyModelResultViewModel'
    put:
      tags:
        - CommandRequests
      operationId: CommandRequests_PutCommandRequest
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CommandRequestModifyModel'
          application/json:
            schema:
              $ref: '#/components/schemas/CommandRequestModifyModel'
          text/json:
            schema:
              $ref: '#/components/schemas/CommandRequestModifyModel'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CommandRequestModifyModel'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CommandRequestModifyModelResultViewModel'
            application/json:
              schema:
                $ref: '#/components/schemas/CommandRequestModifyModelResultViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/CommandRequestModifyModelResultViewModel'
    delete:
      tags:
        - CommandRequests
      operationId: CommandRequests_DeleteCommandRequest
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CommandRequestModifyModelResultViewModel'
            application/json:
              schema:
                $ref: '#/components/schemas/CommandRequestModifyModelResultViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/CommandRequestModifyModelResultViewModel'
  /api/CommandRequests/Activate:
    post:
      tags:
        - CommandRequests
      operationId: CommandRequests_Activate
      parameters:
        - name: id
          in: query
          schema:
            type: integer
            format: int32
        - name: status
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CommandRequestModifyModelResultViewModel'
            application/json:
              schema:
                $ref: '#/components/schemas/CommandRequestModifyModelResultViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/CommandRequestModifyModelResultViewModel'
  /api/CommandRequests/UndoDelete/{id}:
    post:
      tags:
        - CommandRequests
      operationId: CommandRequests_UndoDelete
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CommandRequestModifyModelResultViewModel'
            application/json:
              schema:
                $ref: '#/components/schemas/CommandRequestModifyModelResultViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/CommandRequestModifyModelResultViewModel'
  /api/Components:
    get:
      tags:
        - Components
      operationId: Components_GetAll
      parameters:
        - name: Language
          in: query
          schema:
            type: string
        - name: UserId
          in: query
          schema:
            type: integer
            format: int32
        - name: UserRoleId
          in: query
          schema:
            type: integer
            format: int32
        - name: FleetId
          in: query
          schema:
            type: integer
            format: int32
        - name: Order
          in: query
          schema:
            type: string
        - name: Filter
          in: query
          schema:
            type: string
        - name: PageNumber
          in: query
          schema:
            type: integer
            format: int32
        - name: PageSize
          in: query
          schema:
            type: integer
            format: int32
        - name: IsActive
          in: query
          schema:
            type: boolean
        - name: IsDelete
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ComponentReadModelListResultViewModel'
            application/json:
              schema:
                $ref: '#/components/schemas/ComponentReadModelListResultViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/ComponentReadModelListResultViewModel'
    post:
      tags:
        - Components
      operationId: Components_PostComponent
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ComponentModifyModel'
          application/json:
            schema:
              $ref: '#/components/schemas/ComponentModifyModel'
          text/json:
            schema:
              $ref: '#/components/schemas/ComponentModifyModel'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ComponentModifyModel'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ComponentModifyModelResultViewModel'
            application/json:
              schema:
                $ref: '#/components/schemas/ComponentModifyModelResultViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/ComponentModifyModelResultViewModel'
  /api/Components/{id}:
    get:
      tags:
        - Components
      operationId: Components_GetOne
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ComponentModifyModelResultViewModel'
            application/json:
              schema:
                $ref: '#/components/schemas/ComponentModifyModelResultViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/ComponentModifyModelResultViewModel'
    put:
      tags:
        - Components
      operationId: Components_PutComponent
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ComponentModifyModel'
          application/json:
            schema:
              $ref: '#/components/schemas/ComponentModifyModel'
          text/json:
            schema:
              $ref: '#/components/schemas/ComponentModifyModel'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ComponentModifyModel'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ComponentModifyModelResultViewModel'
            application/json:
              schema:
                $ref: '#/components/schemas/ComponentModifyModelResultViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/ComponentModifyModelResultViewModel'
    delete:
      tags:
        - Components
      operationId: Components_DeleteComponent
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ComponentModifyModelResultViewModel'
            application/json:
              schema:
                $ref: '#/components/schemas/ComponentModifyModelResultViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/ComponentModifyModelResultViewModel'
  /api/Components/Activate:
    post:
      tags:
        - Components
      operationId: Components_Activate
      parameters:
        - name: id
          in: query
          schema:
            type: integer
            format: int32
        - name: status
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ComponentModifyModelResultViewModel'
            application/json:
              schema:
                $ref: '#/components/schemas/ComponentModifyModelResultViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/ComponentModifyModelResultViewModel'
  /api/Components/UndoDelete/{id}:
    post:
      tags:
        - Components
      operationId: Components_UndoDelete
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ComponentModifyModelResultViewModel'
            application/json:
              schema:
                $ref: '#/components/schemas/ComponentModifyModelResultViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/ComponentModifyModelResultViewModel'
  /api/ConflictUnitTrips:
    get:
      tags:
        - ConflictUnitTrips
      operationId: ConflictUnitTrips_GetAll
      parameters:
        - name: Language
          in: query
          schema:
            type: string
        - name: UserId
          in: query
          schema:
            type: integer
            format: int32
        - name: UserRoleId
          in: query
          schema:
            type: integer
            format: int32
        - name: FleetId
          in: query
          schema:
            type: integer
            format: int32
        - name: Order
          in: query
          schema:
            type: string
        - name: Filter
          in: query
          schema:
            type: string
        - name: PageNumber
          in: query
          schema:
            type: integer
            format: int32
        - name: PageSize
          in: query
          schema:
            type: integer
            format: int32
        - name: IsActive
          in: query
          schema:
            type: boolean
        - name: IsDelete
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: >-
                  #/components/schemas/ConflictUnitTripReadModelListResultViewModel
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ConflictUnitTripReadModelListResultViewModel
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/ConflictUnitTripReadModelListResultViewModel
    post:
      tags:
        - ConflictUnitTrips
      operationId: ConflictUnitTrips_PostConflictUnitTrip
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ConflictUnitTripModifyModel'
          application/json:
            schema:
              $ref: '#/components/schemas/ConflictUnitTripModifyModel'
          text/json:
            schema:
              $ref: '#/components/schemas/ConflictUnitTripModifyModel'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ConflictUnitTripModifyModel'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: >-
                  #/components/schemas/ConflictUnitTripModifyModelResultViewModel
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ConflictUnitTripModifyModelResultViewModel
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/ConflictUnitTripModifyModelResultViewModel
  /api/ConflictUnitTrips/{id}:
    get:
      tags:
        - ConflictUnitTrips
      operationId: ConflictUnitTrips_GetOne
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: >-
                  #/components/schemas/ConflictUnitTripModifyModelResultViewModel
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ConflictUnitTripModifyModelResultViewModel
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/ConflictUnitTripModifyModelResultViewModel
    put:
      tags:
        - ConflictUnitTrips
      operationId: ConflictUnitTrips_PutConflictUnitTrip
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ConflictUnitTripModifyModel'
          application/json:
            schema:
              $ref: '#/components/schemas/ConflictUnitTripModifyModel'
          text/json:
            schema:
              $ref: '#/components/schemas/ConflictUnitTripModifyModel'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ConflictUnitTripModifyModel'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: >-
                  #/components/schemas/ConflictUnitTripModifyModelResultViewModel
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ConflictUnitTripModifyModelResultViewModel
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/ConflictUnitTripModifyModelResultViewModel
    delete:
      tags:
        - ConflictUnitTrips
      operationId: ConflictUnitTrips_DeleteConflictUnitTrip
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: >-
                  #/components/schemas/ConflictUnitTripModifyModelResultViewModel
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ConflictUnitTripModifyModelResultViewModel
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/ConflictUnitTripModifyModelResultViewModel
  /api/ContentLanguages:
    get:
      tags:
        - ContentLanguages
      operationId: ContentLanguages_GetAll
      parameters:
        - name: Language
          in: query
          schema:
            type: string
        - name: UserId
          in: query
          schema:
            type: integer
            format: int32
        - name: UserRoleId
          in: query
          schema:
            type: integer
            format: int32
        - name: FleetId
          in: query
          schema:
            type: integer
            format: int32
        - name: Order
          in: query
          schema:
            type: string
        - name: Filter
          in: query
          schema:
            type: string
        - name: PageNumber
          in: query
          schema:
            type: integer
            format: int32
        - name: PageSize
          in: query
          schema:
            type: integer
            format: int32
        - name: IsActive
          in: query
          schema:
            type: boolean
        - name: IsDelete
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: >-
                  #/components/schemas/ContentLanguageReadModelListResultViewModel
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ContentLanguageReadModelListResultViewModel
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/ContentLanguageReadModelListResultViewModel
    post:
      tags:
        - ContentLanguages
      operationId: ContentLanguages_PostContentLanguage
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ContentLanguageModifyModel'
          application/json:
            schema:
              $ref: '#/components/schemas/ContentLanguageModifyModel'
          text/json:
            schema:
              $ref: '#/components/schemas/ContentLanguageModifyModel'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ContentLanguageModifyModel'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ContentLanguageModifyModelResultViewModel'
            application/json:
              schema:
                $ref: '#/components/schemas/ContentLanguageModifyModelResultViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/ContentLanguageModifyModelResultViewModel'
  /api/ContentLanguages/{id}:
    get:
      tags:
        - ContentLanguages
      operationId: ContentLanguages_GetOne
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ContentLanguageModifyModelResultViewModel'
            application/json:
              schema:
                $ref: '#/components/schemas/ContentLanguageModifyModelResultViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/ContentLanguageModifyModelResultViewModel'
    put:
      tags:
        - ContentLanguages
      operationId: ContentLanguages_PutContentLanguage
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ContentLanguageModifyModel'
          application/json:
            schema:
              $ref: '#/components/schemas/ContentLanguageModifyModel'
          text/json:
            schema:
              $ref: '#/components/schemas/ContentLanguageModifyModel'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ContentLanguageModifyModel'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ContentLanguageModifyModelResultViewModel'
            application/json:
              schema:
                $ref: '#/components/schemas/ContentLanguageModifyModelResultViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/ContentLanguageModifyModelResultViewModel'
    delete:
      tags:
        - ContentLanguages
      operationId: ContentLanguages_DeleteContentLanguage
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ContentLanguageModifyModelResultViewModel'
            application/json:
              schema:
                $ref: '#/components/schemas/ContentLanguageModifyModelResultViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/ContentLanguageModifyModelResultViewModel'
  /api/Countries:
    get:
      tags:
        - Countries
      operationId: Countries_GetAll
      parameters:
        - name: Language
          in: query
          schema:
            type: string
        - name: UserId
          in: query
          schema:
            type: integer
            format: int32
        - name: UserRoleId
          in: query
          schema:
            type: integer
            format: int32
        - name: FleetId
          in: query
          schema:
            type: integer
            format: int32
        - name: Order
          in: query
          schema:
            type: string
        - name: Filter
          in: query
          schema:
            type: string
        - name: PageNumber
          in: query
          schema:
            type: integer
            format: int32
        - name: PageSize
          in: query
          schema:
            type: integer
            format: int32
        - name: IsActive
          in: query
          schema:
            type: boolean
        - name: IsDelete
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CountryReadModelListResultViewModel'
            application/json:
              schema:
                $ref: '#/components/schemas/CountryReadModelListResultViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/CountryReadModelListResultViewModel'
    post:
      tags:
        - Countries
      operationId: Countries_PostCountry
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CountryModifyModel'
          application/json:
            schema:
              $ref: '#/components/schemas/CountryModifyModel'
          text/json:
            schema:
              $ref: '#/components/schemas/CountryModifyModel'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CountryModifyModel'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CountryModifyModelResultViewModel'
            application/json:
              schema:
                $ref: '#/components/schemas/CountryModifyModelResultViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/CountryModifyModelResultViewModel'
  /api/Countries/{id}:
    get:
      tags:
        - Countries
      operationId: Countries_GetOne
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CountryModifyModelResultViewModel'
            application/json:
              schema:
                $ref: '#/components/schemas/CountryModifyModelResultViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/CountryModifyModelResultViewModel'
    put:
      tags:
        - Countries
      operationId: Countries_PutCountry
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CountryModifyModel'
          application/json:
            schema:
              $ref: '#/components/schemas/CountryModifyModel'
          text/json:
            schema:
              $ref: '#/components/schemas/CountryModifyModel'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CountryModifyModel'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CountryModifyModelResultViewModel'
            application/json:
              schema:
                $ref: '#/components/schemas/CountryModifyModelResultViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/CountryModifyModelResultViewModel'
    delete:
      tags:
        - Countries
      operationId: Countries_DeleteCountry
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CountryModifyModelResultViewModel'
            application/json:
              schema:
                $ref: '#/components/schemas/CountryModifyModelResultViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/CountryModifyModelResultViewModel'
  /api/Countries/Activate:
    post:
      tags:
        - Countries
      operationId: Countries_Activate
      parameters:
        - name: id
          in: query
          schema:
            type: integer
            format: int32
        - name: status
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CountryModifyModelResultViewModel'
            application/json:
              schema:
                $ref: '#/components/schemas/CountryModifyModelResultViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/CountryModifyModelResultViewModel'
  /api/Countries/UndoDelete/{id}:
    post:
      tags:
        - Countries
      operationId: Countries_UndoDelete
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CountryModifyModelResultViewModel'
            application/json:
              schema:
                $ref: '#/components/schemas/CountryModifyModelResultViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/CountryModifyModelResultViewModel'
  /api/CustomerContacts:
    get:
      tags:
        - CustomerContacts
      operationId: CustomerContacts_GetAll
      parameters:
        - name: Language
          in: query
          schema:
            type: string
        - name: UserId
          in: query
          schema:
            type: integer
            format: int32
        - name: UserRoleId
          in: query
          schema:
            type: integer
            format: int32
        - name: FleetId
          in: query
          schema:
            type: integer
            format: int32
        - name: Order
          in: query
          schema:
            type: string
        - name: Filter
          in: query
          schema:
            type: string
        - name: PageNumber
          in: query
          schema:
            type: integer
            format: int32
        - name: PageSize
          in: query
          schema:
            type: integer
            format: int32
        - name: IsActive
          in: query
          schema:
            type: boolean
        - name: IsDelete
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: >-
                  #/components/schemas/CustomerContactReadModelListResultViewModel
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CustomerContactReadModelListResultViewModel
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/CustomerContactReadModelListResultViewModel
    post:
      tags:
        - CustomerContacts
      operationId: CustomerContacts_PostCustomerContact
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CustomerContactModifyModel'
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerContactModifyModel'
          text/json:
            schema:
              $ref: '#/components/schemas/CustomerContactModifyModel'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CustomerContactModifyModel'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CustomerContactModifyModelResultViewModel'
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerContactModifyModelResultViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/CustomerContactModifyModelResultViewModel'
  /api/CustomerContacts/{id}:
    get:
      tags:
        - CustomerContacts
      operationId: CustomerContacts_GetOne
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CustomerContactModifyModelResultViewModel'
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerContactModifyModelResultViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/CustomerContactModifyModelResultViewModel'
    put:
      tags:
        - CustomerContacts
      operationId: CustomerContacts_PutCustomerContact
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CustomerContactModifyModel'
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerContactModifyModel'
          text/json:
            schema:
              $ref: '#/components/schemas/CustomerContactModifyModel'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CustomerContactModifyModel'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CustomerContactModifyModelResultViewModel'
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerContactModifyModelResultViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/CustomerContactModifyModelResultViewModel'
    delete:
      tags:
        - CustomerContacts
      operationId: CustomerContacts_DeleteCustomerContact
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CustomerContactModifyModelResultViewModel'
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerContactModifyModelResultViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/CustomerContactModifyModelResultViewModel'
  /api/CustomerContacts/Activate:
    post:
      tags:
        - CustomerContacts
      operationId: CustomerContacts_Activate
      parameters:
        - name: id
          in: query
          schema:
            type: integer
            format: int32
        - name: status
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CustomerContactModifyModelResultViewModel'
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerContactModifyModelResultViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/CustomerContactModifyModelResultViewModel'
  /api/CustomerContacts/UndoDelete/{id}:
    post:
      tags:
        - CustomerContacts
      operationId: CustomerContacts_UndoDelete
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CustomerContactModifyModelResultViewModel'
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerContactModifyModelResultViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/CustomerContactModifyModelResultViewModel'
  /api/Customers:
    get:
      tags:
        - Customers
      operationId: Customers_GetAll
      parameters:
        - name: Language
          in: query
          schema:
            type: string
        - name: UserId
          in: query
          schema:
            type: integer
            format: int32
        - name: UserRoleId
          in: query
          schema:
            type: integer
            format: int32
        - name: FleetId
          in: query
          schema:
            type: integer
            format: int32
        - name: Order
          in: query
          schema:
            type: string
        - name: Filter
          in: query
          schema:
            type: string
        - name: PageNumber
          in: query
          schema:
            type: integer
            format: int32
        - name: PageSize
          in: query
          schema:
            type: integer
            format: int32
        - name: IsActive
          in: query
          schema:
            type: boolean
        - name: IsDelete
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CustomerReadModelListResultViewModel'
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerReadModelListResultViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/CustomerReadModelListResultViewModel'
    post:
      tags:
        - Customers
      operationId: Customers_PostCustomer
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CustomerModifyModel'
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerModifyModel'
          text/json:
            schema:
              $ref: '#/components/schemas/CustomerModifyModel'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CustomerModifyModel'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CustomerModifyModelResultViewModel'
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerModifyModelResultViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/CustomerModifyModelResultViewModel'
  /api/Customers/{id}:
    get:
      tags:
        - Customers
      operationId: Customers_GetOne
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CustomerModifyModelResultViewModel'
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerModifyModelResultViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/CustomerModifyModelResultViewModel'
    put:
      tags:
        - Customers
      operationId: Customers_PutCustomer
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CustomerModifyModel'
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerModifyModel'
          text/json:
            schema:
              $ref: '#/components/schemas/CustomerModifyModel'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CustomerModifyModel'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CustomerModifyModelResultViewModel'
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerModifyModelResultViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/CustomerModifyModelResultViewModel'
    delete:
      tags:
        - Customers
      operationId: Customers_DeleteCustomer
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CustomerModifyModelResultViewModel'
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerModifyModelResultViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/CustomerModifyModelResultViewModel'
  /api/Customers/Activate:
    post:
      tags:
        - Customers
      operationId: Customers_Activate
      parameters:
        - name: id
          in: query
          schema:
            type: integer
            format: int32
        - name: status
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CustomerModifyModelResultViewModel'
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerModifyModelResultViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/CustomerModifyModelResultViewModel'
  /api/Customers/UndoDelete/{id}:
    post:
      tags:
        - Customers
      operationId: Customers_UndoDelete
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CustomerModifyModelResultViewModel'
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerModifyModelResultViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/CustomerModifyModelResultViewModel'
  /api/CustomerServiceOrderDetails:
    get:
      tags:
        - CustomerServiceOrderDetails
      operationId: CustomerServiceOrderDetails_GetAll
      parameters:
        - name: Language
          in: query
          schema:
            type: string
        - name: UserId
          in: query
          schema:
            type: integer
            format: int32
        - name: UserRoleId
          in: query
          schema:
            type: integer
            format: int32
        - name: FleetId
          in: query
          schema:
            type: integer
            format: int32
        - name: Order
          in: query
          schema:
            type: string
        - name: Filter
          in: query
          schema:
            type: string
        - name: PageNumber
          in: query
          schema:
            type: integer
            format: int32
        - name: PageSize
          in: query
          schema:
            type: integer
            format: int32
        - name: IsActive
          in: query
          schema:
            type: boolean
        - name: IsDelete
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: >-
                  #/components/schemas/CustomerServiceOrderDetailReadModelListResultViewModel
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CustomerServiceOrderDetailReadModelListResultViewModel
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/CustomerServiceOrderDetailReadModelListResultViewModel
    post:
      tags:
        - CustomerServiceOrderDetails
      operationId: CustomerServiceOrderDetails_PostCustomerServiceOrderDetail
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CustomerServiceOrderDetailModifyModel'
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerServiceOrderDetailModifyModel'
          text/json:
            schema:
              $ref: '#/components/schemas/CustomerServiceOrderDetailModifyModel'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CustomerServiceOrderDetailModifyModel'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: >-
                  #/components/schemas/CustomerServiceOrderDetailModifyModelResultViewModel
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CustomerServiceOrderDetailModifyModelResultViewModel
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/CustomerServiceOrderDetailModifyModelResultViewModel
  /api/CustomerServiceOrderDetails/{id}:
    get:
      tags:
        - CustomerServiceOrderDetails
      operationId: CustomerServiceOrderDetails_GetOne
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: >-
                  #/components/schemas/CustomerServiceOrderDetailModifyModelResultViewModel
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CustomerServiceOrderDetailModifyModelResultViewModel
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/CustomerServiceOrderDetailModifyModelResultViewModel
    put:
      tags:
        - CustomerServiceOrderDetails
      operationId: CustomerServiceOrderDetails_PutCustomerServiceOrderDetail
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CustomerServiceOrderDetailModifyModel'
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerServiceOrderDetailModifyModel'
          text/json:
            schema:
              $ref: '#/components/schemas/CustomerServiceOrderDetailModifyModel'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CustomerServiceOrderDetailModifyModel'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: >-
                  #/components/schemas/CustomerServiceOrderDetailModifyModelResultViewModel
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CustomerServiceOrderDetailModifyModelResultViewModel
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/CustomerServiceOrderDetailModifyModelResultViewModel
    delete:
      tags:
        - CustomerServiceOrderDetails
      operationId: CustomerServiceOrderDetails_DeleteCustomerServiceOrderDetail
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: >-
                  #/components/schemas/CustomerServiceOrderDetailModifyModelResultViewModel
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CustomerServiceOrderDetailModifyModelResultViewModel
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/CustomerServiceOrderDetailModifyModelResultViewModel
  /api/CustomerServiceOrderDetails/Activate:
    post:
      tags:
        - CustomerServiceOrderDetails
      operationId: CustomerServiceOrderDetails_Activate
      parameters:
        - name: id
          in: query
          schema:
            type: integer
            format: int32
        - name: status
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: >-
                  #/components/schemas/CustomerServiceOrderDetailModifyModelResultViewModel
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CustomerServiceOrderDetailModifyModelResultViewModel
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/CustomerServiceOrderDetailModifyModelResultViewModel
  /api/CustomerServiceOrderDetails/UndoDelete/{id}:
    post:
      tags:
        - CustomerServiceOrderDetails
      operationId: CustomerServiceOrderDetails_UndoDelete
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: >-
                  #/components/schemas/CustomerServiceOrderDetailModifyModelResultViewModel
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CustomerServiceOrderDetailModifyModelResultViewModel
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/CustomerServiceOrderDetailModifyModelResultViewModel
  /api/CustomerServiceOrders:
    get:
      tags:
        - CustomerServiceOrders
      operationId: CustomerServiceOrders_GetAll
      parameters:
        - name: Language
          in: query
          schema:
            type: string
        - name: UserId
          in: query
          schema:
            type: integer
            format: int32
        - name: UserRoleId
          in: query
          schema:
            type: integer
            format: int32
        - name: FleetId
          in: query
          schema:
            type: integer
            format: int32
        - name: Order
          in: query
          schema:
            type: string
        - name: Filter
          in: query
          schema:
            type: string
        - name: PageNumber
          in: query
          schema:
            type: integer
            format: int32
        - name: PageSize
          in: query
          schema:
            type: integer
            format: int32
        - name: IsActive
          in: query
          schema:
            type: boolean
        - name: IsDelete
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: >-
                  #/components/schemas/CustomerServiceOrderReadModelListResultViewModel
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CustomerServiceOrderReadModelListResultViewModel
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/CustomerServiceOrderReadModelListResultViewModel
    post:
      tags:
        - CustomerServiceOrders
      operationId: CustomerServiceOrders_PostCustomerServiceOrder
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CustomerServiceOrderModifyModel'
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerServiceOrderModifyModel'
          text/json:
            schema:
              $ref: '#/components/schemas/CustomerServiceOrderModifyModel'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CustomerServiceOrderModifyModel'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: >-
                  #/components/schemas/CustomerServiceOrderModifyModelResultViewModel
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CustomerServiceOrderModifyModelResultViewModel
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/CustomerServiceOrderModifyModelResultViewModel
  /api/CustomerServiceOrders/{id}:
    get:
      tags:
        - CustomerServiceOrders
      operationId: CustomerServiceOrders_GetOne
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: >-
                  #/components/schemas/CustomerServiceOrderModifyModelResultViewModel
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CustomerServiceOrderModifyModelResultViewModel
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/CustomerServiceOrderModifyModelResultViewModel
    put:
      tags:
        - CustomerServiceOrders
      operationId: CustomerServiceOrders_PutCustomerServiceOrder
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CustomerServiceOrderModifyModel'
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerServiceOrderModifyModel'
          text/json:
            schema:
              $ref: '#/components/schemas/CustomerServiceOrderModifyModel'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CustomerServiceOrderModifyModel'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: >-
                  #/components/schemas/CustomerServiceOrderModifyModelResultViewModel
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CustomerServiceOrderModifyModelResultViewModel
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/CustomerServiceOrderModifyModelResultViewModel
    delete:
      tags:
        - CustomerServiceOrders
      operationId: CustomerServiceOrders_DeleteCustomerServiceOrder
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: >-
                  #/components/schemas/CustomerServiceOrderModifyModelResultViewModel
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CustomerServiceOrderModifyModelResultViewModel
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/CustomerServiceOrderModifyModelResultViewModel
  /api/CustomerServiceOrders/Activate:
    post:
      tags:
        - CustomerServiceOrders
      operationId: CustomerServiceOrders_Activate
      parameters:
        - name: id
          in: query
          schema:
            type: integer
            format: int32
        - name: status
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: >-
                  #/components/schemas/CustomerServiceOrderModifyModelResultViewModel
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CustomerServiceOrderModifyModelResultViewModel
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/CustomerServiceOrderModifyModelResultViewModel
  /api/CustomerServiceOrders/UndoDelete/{id}:
    post:
      tags:
        - CustomerServiceOrders
      operationId: CustomerServiceOrders_UndoDelete
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: >-
                  #/components/schemas/CustomerServiceOrderModifyModelResultViewModel
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CustomerServiceOrderModifyModelResultViewModel
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/CustomerServiceOrderModifyModelResultViewModel
  /api/CustomerSites:
    get:
      tags:
        - CustomerSites
      operationId: CustomerSites_GetAll
      parameters:
        - name: Language
          in: query
          schema:
            type: string
        - name: UserId
          in: query
          schema:
            type: integer
            format: int32
        - name: UserRoleId
          in: query
          schema:
            type: integer
            format: int32
        - name: FleetId
          in: query
          schema:
            type: integer
            format: int32
        - name: Order
          in: query
          schema:
            type: string
        - name: Filter
          in: query
          schema:
            type: string
        - name: PageNumber
          in: query
          schema:
            type: integer
            format: int32
        - name: PageSize
          in: query
          schema:
            type: integer
            format: int32
        - name: IsActive
          in: query
          schema:
            type: boolean
        - name: IsDelete
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CustomerSiteReadModelListResultViewModel'
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerSiteReadModelListResultViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/CustomerSiteReadModelListResultViewModel'
    post:
      tags:
        - CustomerSites
      operationId: CustomerSites_PostCustomerSite
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CustomerSiteModifyModel'
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerSiteModifyModel'
          text/json:
            schema:
              $ref: '#/components/schemas/CustomerSiteModifyModel'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CustomerSiteModifyModel'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CustomerSiteModifyModelResultViewModel'
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerSiteModifyModelResultViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/CustomerSiteModifyModelResultViewModel'
  /api/CustomerSites/{id}:
    get:
      tags:
        - CustomerSites
      operationId: CustomerSites_GetOne
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CustomerSiteModifyModelResultViewModel'
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerSiteModifyModelResultViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/CustomerSiteModifyModelResultViewModel'
    put:
      tags:
        - CustomerSites
      operationId: CustomerSites_PutCustomerSite
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CustomerSiteModifyModel'
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerSiteModifyModel'
          text/json:
            schema:
              $ref: '#/components/schemas/CustomerSiteModifyModel'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CustomerSiteModifyModel'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CustomerSiteModifyModelResultViewModel'
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerSiteModifyModelResultViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/CustomerSiteModifyModelResultViewModel'
    delete:
      tags:
        - CustomerSites
      operationId: CustomerSites_DeleteCustomerSite
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CustomerSiteModifyModelResultViewModel'
            application/json:
              schema:
[...]
